body {
	background: #E8E8E8;
}

#vision-board {
	width: 1200px;
	height: 850px;
	overflow: auto;
	background: url('../img/background.png');
	background-size: cover;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.block {
	float: left;
	box-sizing: border-box;
	width: 400px;
}

.small-block {
	height: 210px;
}

.large-block {
	height: 430px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}